<article class="archive-article archive-type-<%= post.layout %>">
  <header class="archive-article-header">
    <%- partial('post/title', {class_name: 'archive-article-title'}) %>
    <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'Do MMMM'}) %>
  </header>
</article>
